$bordes: (
    0: red,
    1: green,
    2: blue,
    3: grey,
    4: yellow,
    5: pink,
    6: orange,
    7: violet,
);

$sombra: 10px 10px 10px grey;
$sombraChica: 2px 2px 2px grey;

$anchoContenido: 90%;

$alturaNavbar: 50px;
$alturaBotones: 105px;




