* {
  padding: 0px;
  margin: 0px;
}

.cuerpo__videosIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.cuerpo__iframe {
  width: 95%;
  margin: 10px 0px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px grey;
          box-shadow: 10px 10px 10px grey;
}

.cuerpo__presentacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-margin-top: 60px;
}

.cuerpo__imgPresentacion {
  width: 90%;
  margin: 20px 0px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px grey;
          box-shadow: 10px 10px 10px grey;
}

.cuerpo__introduccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-margin-top: 60px;
}

.cuerpo__intros {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
  -ms-grid-columns: 90%;
      grid-template-columns: 90%;
}

.cuerpo__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuerpo__descripcion div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuerpo__descripcion img {
  width: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px grey;
          box-shadow: 10px 10px 10px grey;
}

@media only screen and (min-width: 768px) {
  .cuerpo__videosIntro {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .cuerpo__iframe {
    width: 45%;
  }
}

@media only screen and (min-width: 1200px) {
  .cuerpo__presentacion {
    display: inline-block;
  }
  .cuerpo__presentacion__titulo {
    text-align: center;
  }
  .cuerpo__imgPresentacion {
    float: left;
    margin: 0px 3% 20px 5%;
    width: 40%;
    border: 1px solid;
  }
  .cuerpo__presentacion p {
    margin-left: 5%;
  }
  .cuerpo__intros div {
    display: inline-block;
  }
  .cuerpo__descripcion {
    display: inline-block;
  }
  .cuerpo__descripcion p {
    width: 100%;
  }
  .cuerpo__descripcion div {
    display: inline-block;
    width: 70%;
  }
  .cuerpo__descripcion img {
    display: inline-block;
    margin-left: 1%;
    border: 1px solid;
  }
}

.cuerpo__botones {
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  z-index: 3;
  border: 1px solid;
}

.cuerpo__accesos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cuerpo__accesos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cuerpo__accesos ul li {
  margin: 0px 0px;
}

.cuerpo__accesos div {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .cuerpo__accesos ul {
    font-size: 1.4em;
  }
}

.cuerpo__buscador {
  width: 70vw !important;
}

.cuerpo__botonBusqueda {
  width: 20vw !important;
}

.cuerpo__contenido {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

.cuerpo__titulo, .cuerpo__titulo2 {
  scroll-margin-top: 180px;
}

.cuerpo__listasIndice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.cuerpo__listasIndice a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cuerpo__listasIndice dt {
  margin-top: 20px;
}

.cuerpo__listasIndice dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuerpo__imgIndice {
  width: 300px;
  height: 200px;
  -webkit-box-shadow: 10px 10px 10px grey;
          box-shadow: 10px 10px 10px grey;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cuerpo__imgIndice:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  .cuerpo__buscador {
    width: 60vw !important;
  }
  .cuerpo__botonBusqueda {
    width: 10vw !important;
  }
}

@media only screen and (min-width: 1200px) {
  .cuerpo__listasIndice {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: (auto)[50];
        grid-template-rows: repeat(50, auto);
    width: 100%;
  }
  .cuerpo__listasIndice dt {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    margin-top: 20px;
    margin-left: 20px;
  }
  .cuerpo__listasIndice a {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin: 30px 0px 0px 20px;
  }
  .cuerpo__listasIndice dd {
    padding-left: 20px;
  }
}

.cuerpo__botones {
  position: -webkit-sticky;
  position: sticky;
  top: 56px;
  z-index: 3;
  border: 1px solid;
}

.cuerpo__accesos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.cuerpo__accesos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cuerpo__accesos ul li {
  margin: 0px 0px;
}

.cuerpo__accesos div {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .cuerpo__accesos ul {
    font-size: 1.4em;
  }
}

.carousel {
  width: 100%;
  max-width: 530px;
  height: 60vw;
  max-height: 330px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px grey;
          box-shadow: 10px 10px 10px grey;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#carousel {
  width: 100%;
  max-width: 530px;
  height: 60vw;
  max-height: 330px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px grey;
          box-shadow: 10px 10px 10px grey;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#carousel div {
  width: 100%;
  height: 100%;
}

#carousel div img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1600px) {
  .carousel {
    display: inline-block;
    width: 40%;
  }
  .carousel button {
    display: none;
  }
}

.cuerpo__contenido {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cuerpo__galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 10px;
}

.cuerpo__galeria a {
  text-decoration: none;
  color: black;
}

.cuerpo__imagenesGaleria {
  display: none;
}

@media only screen and (min-width: 1600px) {
  .cuerpo__galeria {
    display: inline-block;
  }
  .cuerpo__imagenesGaleria {
    display: block;
    float: right;
    width: 55%;
    height: auto;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
  .cuerpo__imagenesGaleria img {
    width: 22%;
    height: 100px;
    -webkit-box-shadow: 2px 2px 2px grey;
            box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
    margin: 5px;
  }
  .cuerpo__imagenesGaleria .img0 {
    border: 3px red solid;
  }
  .cuerpo__imagenesGaleria .img1 {
    border: 3px green solid;
  }
  .cuerpo__imagenesGaleria .img2 {
    border: 3px blue solid;
  }
  .cuerpo__imagenesGaleria .img3 {
    border: 3px grey solid;
  }
  .cuerpo__imagenesGaleria .img4 {
    border: 3px yellow solid;
  }
  .cuerpo__imagenesGaleria .img5 {
    border: 3px pink solid;
  }
  .cuerpo__imagenesGaleria .img6 {
    border: 3px orange solid;
  }
  .cuerpo__imagenesGaleria .img7 {
    border: 3px violet solid;
  }
  .cuerpo__imagenesGaleria img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.cuerpo__table {
  margin-top: 20px;
  font-size: 3vw;
}

.cuerpo__table tr {
  width: 20%;
}

.cuerpo__table tr th {
  background-color: gray;
  font-weight: bolder;
  height: 40px;
  padding: 5px 10px;
  width: 20%;
}

.cuerpo__table tr td {
  text-align: center;
}

.cuerpo__table tr td ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-position: inside;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cuerpo__table tr td ol li {
  text-align: left;
}

.cuerpo__table tr td ul {
  list-style: none;
}

.cuerpo__table tr td:first-child {
  background-color: lightgray;
}

@media only screen and (min-width: 768px) {
  .cuerpo__table {
    font-size: 1em;
  }
}

.navbar {
  height: auto;
  padding-left: 20px;
}

.navbar ul {
  padding-right: 20px;
}

.navbar__button {
  padding-right: 20px;
}

.header {
  height: 20vh;
  background-image: url(/images/cordillera.png);
  background-size: cover;
}

.header__logo {
  height: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__titulo {
  color: white;
  -webkit-text-stroke: 2px #243c58;
  font-family: "Crimson";
  font-weight: bold;
  font-size: 3em;
}

#menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  border: 1px solid;
  z-index: 4;
}

.aside {
  display: none;
}

.cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/images/fondo1.jpg);
}

.cuerpo p {
  text-indent: 40px;
  text-align: justify;
  width: 90%;
}

.cuerpo__titulo {
  margin: 40px 0px 30px;
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px grey;
  text-align: center;
}

.cuerpo__titulo2 {
  margin-top: 30px;
  text-shadow: 2px 2px 2px grey;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  background-color: rgba(116, 101, 101, 0.521);
}

@media only screen and (min-width: 768px) {
  .header_titulo {
    font-size: 4em;
  }
  .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    border: 1px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(128, 128, 128, 0.555)), to(rgba(87, 87, 87, 0)));
    background-image: linear-gradient(rgba(128, 128, 128, 0.555), rgba(87, 87, 87, 0));
    border-right: 2px solid white;
  }
  .aside_titulo {
    margin-top: 30px;
    text-shadow: 2px 2px 2px grey;
    text-align: center;
  }
  .aside div {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aside div p {
    text-indent: 40px;
    text-align: justify;
    width: 90%;
  }
  .cuerpo__titulo2 {
    text-align: start;
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .header__titulo {
    font-size: 6em;
  }
  .cuerpo__titulo {
    font-size: 3em;
  }
}
/*# sourceMappingURL=styles.css.map */