/* Principio Estilo comun a todas las paginas del Sitio ----> */
* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: antiquewhite;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}    

header {
    background-image: url(../images/cordillera.png);
    background-size:cover;
    height: 250px; 
}

h1 {
    font-family: 'Crimson Text', serif;
    color: rgb(6, 6, 7);
    -webkit-text-stroke: 0.1px rgb(26, 26, 26);
    font-style: italic;
    background-color:transparent;
    text-align: center;
    font-size: 15ex;
    letter-spacing: 15px;
}

h2 {
    margin-top: 50px;
    text-transform: uppercase;
}
.logo {
    height: 160px;
    left: 30px;
    z-index: 2;
    position: sticky;
    top: 0px;
}

.menu {
    background-color: rgb(6, 6, 109);
    background-size: cover;
    text-align: right;
    padding: 5px 60px 5px 10px;
    border-top: 2px;
    border-top-color: #ffffff;
    border-top-style: solid;
    border-bottom: 3px;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    position: sticky;
    top: 0px;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.menu ul li a:visited {
    color: rgb(255, 255, 255);
}

.menu ul li {
    color: rgb(255, 255, 255);
    background-color: rgb(6, 6, 109);
    list-style: none;
    font-size: 3ex;
    font-weight: bold;
    display: inline-block;
    width: 120px;
    text-align: left;
    vertical-align: middle;
    position: relative;
}

.menu ul ul li {
    font-size: 1.5ex;
    padding: 10px;
    margin: 0px;
    width: 145px;
}

.menu ul ul {
    display: none;
}

.menu ul li:hover ul {
    display: block;
    position: absolute;
    padding: 10px;
    margin: 0px;
    text-align: left;
}

.cuerpo {
    background-image: url(../images/fondo1.jpg);
    background-size: contain;
    
}

.cuerpo h2 {
    font-family: 'Crimson Text', serif;
    font-size: 5ex;
    color: rgb(6, 6, 7);
    -webkit-text-stroke: 0.1px rgb(26, 26, 26);
    text-decoration: underline;
    text-align: center;
}

.cuerpo p {
    text-indent: 50px;
    margin: 10px 40px;
}

aside {
    background-image: url(../images/fondo1.jpg);
    background-size: cover;
}

footer {
    background-color: rgba(44, 44, 44, 0.521);
    text-align: center;
}
/* <----- Final Estilo comun a todas las paginas del Sitio. */

/* Principio Estilo pagina: Inicio -----> */

iframe.inicio {
    margin: 30px 90px 40px 90px;
}

#presentacion img {
    height: 250px;
    float: left;
    margin: 20px;
}

#introduccion .uno {
    float: right;
    margin: 20px;
}

#introduccion .dos {
    height: 325px;
    margin-top: 500px;
    float: left;
    margin: 20px;
}

/* <----- Final Estilo pagina: Inicio */

/* Principio Estilo pagina: Indice -----> */

button {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}

/* <----- Final Estilo pagina: Indice */

/* Principio Estilo pagina: Tabla de Datos -----> */

.datos1 {
    padding-left: 280px;
    padding-right: 280px;
}

dd {
    font-style: italic;
}

tr th {
    background-color: gray;
    font-weight: bolder;
}

td {
    text-align: center;
}

td ol {
    list-style-position:inside;
}

td ul {
    list-style: none;
}
td:first-child {
    background-color: lightgray;
}


/* <------ Final Estilo pagina: Tabla de Datos. */