/* Seccion comun a todas las paginas del Sitio ----> */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: antiquewhite;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}    

header {
    background-image: url(../images/cordillera.png);
    background-size: cover;
}

h1 {
    font-family: 'Crimson Text', serif;
    color: rgb(6, 6, 7);
    -webkit-text-stroke: 0.1px rgb(26, 26, 26);
    font-style: italic;
    background-color:transparent;
    text-align: center;
    font-size: 15ex;
    letter-spacing: 15px;
}

.logo {
    height: 200px;
}

.menu {
    background-image: url(../images/fondo1.jpg);
    background-size: cover;
    text-align: right;
    padding-right: 100px;
}

ul li {
    color: black;
    list-style: none;
    font-weight: bold;
}

.cuerpo {
    background-image: url(../images/fondo1.jpg);
    background-size: contain;
    
}

.video {
    margin: 90px;
}

.cuerpo h2 {
    font-family: 'Crimson Text', serif;
    font-size: 5ex;
    color: rgb(6, 6, 7);
    -webkit-text-stroke: 0.1px rgb(26, 26, 26);
    text-decoration: underline;
    text-align: center;
}

.cuerpo p{
    text-indent: 50px;
}
button {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}

aside {
    background-image: url(../images/fondo1.jpg);
    background-size: cover;
}

footer {
    background-color: rgba(44, 44, 44, 0.521);
    text-align: center;
}
/* <----- Seccion comun a todas las paginas del Sitio. */

/* Seccion Modificacion tabla de datos -----> */
table {
    padding-left: 280px;
    padding-right: 280px;
}

dd {
    font-style: italic;
}

tr th {
    background-color: gray;
    font-weight: bolder;
}

td {
    text-align: center;
}

td ol {
    list-style-position:inside;
}
td:first-child {
    background-color: lightgray;
}


/* <------ Seccion Modificacion tabla de datos. */