/* Principio Estilo comun a todas las paginas del Sitio ----> */
* {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: antiquewhite;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}    

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url(../images/cordillera.png);
    background-size:cover;
    height: 250px; 
}

h1 {
    font-family: 'Crimson Text', serif;
    color: rgb(6, 6, 7);
    -webkit-text-stroke: 0.5px rgb(255, 253, 253,0.18);
    font-style: italic;
    background-color:transparent;
    text-align: center;
    font-size: 15vh;
    letter-spacing: 15px;
    position: relative;
    top: 60px;
}

h2 {
    margin-top: 50px;
    text-transform: uppercase;
}

h3 {
    font-size: 150%;
    text-shadow: 2px 2px 2px grey;
    scroll-margin-top: 120px;
}

.logo {
    height: 60%;
    width: 6%;
    position: relative;
    left: 40px;
    z-index: 3;
    bottom: 30px;
}

.menu {
    display: flex;
    background-color: rgb(36, 60, 88);
    padding: 5px 10px 5px;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
    position: sticky;
    top: 0px;
    z-index: 2;
    justify-content: end;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.menu ul li a:visited {
    color: rgb(255, 255, 255);
}

.menu ul li {
    color: rgb(255, 255, 255);
    background-color: rgb(36, 60, 88);
    list-style: none;
    font-size: 3ex;
    font-weight: bold;
    width: 160px;
    text-align: center;
    vertical-align: middle;
}

.menu ul ul li {
    font-size: 1.5ex;
    padding: 10px 5px 10px 10px;
    margin: 0px;
    width: 145px;
    z-index: 3;
    list-style-type: none;
    text-align: left;
}

.menu ul ul {
    display: none;

}

.menu ul li:hover {
    background-color: rgb(46, 79, 116);
}

.menu ul li:hover ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 10px 10px 10px 0px;
    margin: 0px;
}

.centro {
    display: flex;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    background-image: url(../images/fondo1.jpg);
    background-size: contain;
    border-top: 1px solid white;
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding-bottom: 40px;
}

.cuerpo h2 {
    font-family: 'Crimson Text', serif;
    font-size: 8ex;
    color: rgb(6, 6, 7);
    -webkit-text-stroke: 0.1px rgb(26, 26, 26);
    text-shadow: 2px 2px 2px grey;
    text-align: center;
    margin-bottom: 1em;
    scroll-margin-top: 120px;
}

.cuerpo p {
    text-indent: 50px;
    font-size: 3ex;
    text-align: justify;
}

aside {
    background-image: url(../images/fondo1.jpg);
    background-size: cover;
    width: 20%;
    min-height: 93vh;
    max-height: 94vh;
    position: sticky;
    top: 37px;
    border-bottom: 1px solid;
    border-top: 1px solid white;
    border-right: 2px solid white;
    z-index: 1;
    padding: 20px;
}

footer {
    background-color: rgba(44, 44, 44, 0.521);
    text-align: center;
    z-index: 3;
}
/* <----- Final Estilo comun a todas las paginas del Sitio. */

/* Principio Estilo pagina: Inicio -----> */

.videosIntro {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 18vw;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.inicio {
    box-shadow: 15px 15px 8px grey;
    border-radius: 10px;
}

#presentacion {
    width: 90%;
    margin-bottom: 5em;
}

.imgPresentacion {
    width: 550px;
    float: left;
    margin: 10px 20px 10px 0px;
    box-shadow: 15px 15px 8px grey;
    border-radius: 10px;
}

#introduccion {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#introduccion h3 {
    margin: 40px 0px 20px 200px;
}

.intros {
    width: 90%;
    align-items: center;
    display: flex;    
    flex-direction: column;
}

.descripcion {
    display: flex;
    
}

.imgIntroduccion {
    margin: 0px 40px;
    height: 200px;
    width: 350px;
    box-shadow: 15px 15px 8px grey;
    border-radius: 10px;
}

/* <----- Final Estilo pagina: Inicio */

/* Principio Estilo pagina: Indice -----> */

.accesos {
    position: sticky;
    top: 38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    background-image: url(../images/fondo1.jpg);
    z-index: 0;
}

.accesos button {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    width: 10%;
    height: 30px;
    text-transform: uppercase;
}

.buscador {
    width: 300px;
    height: 20px;
}

button a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
button a:visited {
    color: black;
}

.listasIndice {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 40px;
}

.listasIndice h3 {
    padding-right: 1100px;
    padding-top: 30px;
}

.imgIndice {
    width: 300px;
    height: 200px;
    margin: 20px 40px 20px 20px;
    box-shadow: 15px 15px 8px grey;
    border-radius: 10px;
}

dd {
    padding-bottom: 50px;
}

/* <----- Final Estilo pagina: Indice */

/* Principio Estilo pagina: Galeria -----> */

.galeria {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.galeria a {
    text-decoration: none;
    color: black;
}

.imagenesGaleria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.galeria img {
    width: 300px;
    height: 200px;
    margin: 20px;
    box-shadow: 15px 15px 8px grey;
    border-radius: 10px;
}

.galeria h3 {
    margin-top: 50px;
    text-shadow: 2px 2px 2px grey;
}
/* <----- Final Estilo pagina: Galeria */

/* Principio Estilo pagina: Tabla de Datos -----> */

.datos1 {
    margin: 30px 25% 30px;
}

dd {
    font-style: italic;
}

tr th {
    background-color: gray;
    font-weight: bolder;
    height: 40px;
    padding: 5px 10px;
}

td {
    text-align: center;
    padding: 5px 10px;
}

td ol {
    list-style-position:inside;
}

td ul {
    list-style: none;
}
td:first-child {
    background-color: lightgray;
}

/* <------ Final Estilo pagina: Tabla de Datos. */

/* Principio Estilo pagina: Contacto -----> */

.redes {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.red {
    display: inline-block;
    margin: 30px 200px ;
}

.iconosRedes {
    width: 50px;
    vertical-align: middle;
    margin: 15px;
}

.ongs {
    display: flex;
    justify-content: space-around;
    width: 90%;
    flex-wrap: wrap;
}

.ong {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5% 50px;
}

.ong img {
    max-height: 150px;
    box-shadow: 15px 15px 8px grey;
    border-radius: 10px;
}

.ong iframe {
    box-shadow: 15px 15px 8px grey;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

fieldset {
    width: 80%;
    padding: 20px 100px;
}

input, select {
    margin: 0px 25px 0 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.formulario .pregunta {
    margin: 20px 20%;
}

.formulario .mensaje {
    width: 100%;
}

textarea {
    width: 100%;
}

/* <----- Final Estilo pagina: Contacto */