@import "../abstracts/variables";

.cuerpo {
    &__redes {
        display: grid;
        width: 90%;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;
        margin-top: 30px;
    }

    &__red {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__iconosRedes {
        width: 50px;
        vertical-align: middle;
        margin: 15px;
    }

    &__ongs {
        display:flex;
        flex-direction: column;
        width: 95%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4,auto);
        column-gap: 10px;
        justify-items: center;
        align-items: center;
    }

    &__ong {
        text-align: center;

        img {
            height: 150px;
            width: 150px;
            margin-top: 40px;
            box-shadow: $sombra;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: white;

            &:hover {
                transform: scale(1.05);
            }
        }

        iframe {
            box-shadow: $sombra;
            border-radius: 10px;
            height: 250px;
            width: 90%;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-content: center;
    }
    
    &__formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    &__fieldset {
        width: 100%;
        padding: 20px 10px;

        input {
            display: block;
            width: 90%;
            margin: 0px 0px 10px 30px;
            
            &:hover {
                box-shadow: 2px 2px 2px grey;
            }
        }

        select:hover {
            box-shadow: 2px 2px 2px grey;
        }
    }

    &__pregunta {
        margin: 20px 20%;

        li {
            margin-bottom: 5px;
        }

        input {
            margin-right: 10px;

            &:hover {
                transform: scale(1.3);
            }
        }
    }
    
    &__estadoCivil  {
        margin: 0px 25px 0px 40px ;
    }
    
    &__mensaje {
        width: 100%;
    }
    
    &__textarea {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px){
    .cuerpo {
        &__ongs {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:    "header header" 
                                "nav nav"
                                "barraLateral cuerpo"
                                "barraLateral footer";
        }
    
        &__fieldset {
            width: 70%;
        }

        &__mensaje {
            width: 60%;
        }
    }
}