@import "../components/botones";
@import "../abstracts/variables";

.cuerpo {
    &__buscador {
    width: 70vw !important;
    }

    &__botonBusqueda {
        width: 20vw !important;
    }

    &__contenido {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    &__listasIndice {
        display: flex;
        flex-direction: column;
        width: 100%;
    
        a {
            align-self: center;
        }
    
        dt {
            margin-top: 20px;
        }
    
        dd {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    &__imgIndice {
        width: 300px;
        height: 200px;
        box-shadow: $sombra;
        border-radius: 10px;
        margin-bottom: 20px;
    
        &:hover {
            transform: scale(1.1);
        }
    }

    
}

@media only screen and (min-width: 768px) {
    .cuerpo {
        &__buscador {
            width: 60vw !important;
        }

        &__botonBusqueda {
            width: 10vw !important;
        }
    }
}

@media only screen and (min-width: 1200px){
    .cuerpo__listasIndice {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(50, auto);
        width: 100%;

        dt {
            grid-column: 1/3;
            margin-top: 20px;
            margin-left: 20px;
        }

        a {
            align-self: start;
            margin: 30px 0px 0px 20px;
        }

        dd {
            padding-left: 20px;
        }
    }
}