@import "../components/botones";

.cuerpo {
    &__contenido {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
        #encabezado{
            width: 80%;
            
            h2 {
                text-align: center;
            }

            p {
                font-size: 1.25rem;
            }

            input {
                margin-bottom: 2rem;
                border-radius: 5px;
            }

            button {
                padding: 0 0.5rem;
                margin-bottom: 3rem;
                border-radius: 5px;
            }
        }
    
        #preguntas {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;

            p{
                font-size: larger;
                text-align: center;
                font-weight: bolder;
                margin-bottom: 4rem;
            }

            #resp {
                width: 70%;
                height: 2rem;
                margin-bottom: 1rem;
                border-radius: 5px;
            }

            #resp2 {
                width: 100%;
                height: 2rem;
                margin-bottom: 1rem;
                border-radius: 5px;
            }

            #send{
                width: 8rem;
                border-radius: 5px;
            }

            a {
                width: 100%;
                height: 100%;
                text-align: center;
                text-decoration: none;
                
            }

            #divImagen {
                width: 60%;
                
                img {
                    width: 100%;
                    border-radius: 15px;
                }
            }

            #divRespuestas {
                width: 35%;
                margin-left: 5%;
                height: 100%;
                                
                ul {
                    margin-top: 2rem;
                
                    li {
                        margin-bottom: 1rem;

                        input {
                            margin-right: 1rem;
                        }
                    }
                }

                #send2, #next {
                    margin: 1rem 0 0 5rem;
                    width: 10rem;
                    border-radius: 5px;

                }
            }
        }

        #respuestas{
            width: 80%;
            margin-top: 2rem;
            
            ul {
                text-align: left;
                font-size: 1.4rem;
                margin-top: 1.5rem;
                margin-bottom: 0.5rem;
                list-style: none;

                .resuladoPreguntas {
                    text-decoration: none;
                    text-align: left;
                    font-size: 1.15rem;

                    li {
                        list-style: circle;
                        margin-left: 5rem;
                    }
                }
            }
        }

        .popup {
            position: fixed;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0,0.5);
            visibility: hidden;
            display: flex;
            justify-content:  center;
            align-items: center;
            z-index: 500;

            &__cuerpo {
                width: 30%;
                height: 30vh;
                border: 5px solid rgb(36,60,88);
                border-radius: 15px;
                box-shadow: 15px 15px 50px;
                text-align: center;
                padding: 1.5rem;
                background-color: white;
                margin: 3rem 0 0 20rem;
                position: relative;
                transition: transform 1s;
                transform: translateY(0%);
                
            }

            &__close {
                font-size: 1.2rem;
                background-color: red;
                color: white;
                width: 1.5rem;
                border: 1px solid;
                height: 2rem;
                position: absolute;
                top: 5px;
                right: 5px;
                border-radius: 5px;
                cursor: pointer;
            }
            &__texto{
                font-size: 1.5rem;
                text-align: center;
                width: 100%;
                margin-top: 1.5rem;
                text-indent: 0;
            }
        }
    }
}